/* Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;700;900&display=swap');

* {
  box-sizing: border-box;
}

body { 
  margin: 0;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--white);
  box-shadow: 0px 2px 4px #0000001a;
}

.header-left {
  display: flex;
  gap: 5px;
  padding: 0 12px 0 12px;
}

.header a {
  float: left;
  color: var(--black);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: 300;
}

.header a:hover {
  color: var(--blue);
}

.header a.active {
  background-color: var(--blue);
  color: var(--white);
}

/* Wrapper */

.main-wrapper.isBookmarked {
  border: 1px solid var(--blue_100);

}

.main-wrapper_control-btn {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.main-wrapper_control-btn button:hover {
  color: var(--blue);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.main-wrapper_control-switch-label {
  margin-bottom: 25px;
}

.main-wrapper_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-wrapper_control-format-type {
  margin-top: 15px;
  display: flex;
  gap: 5px;
}

.main-wrapper_control-format-type > label {
  cursor: pointer !important;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 50px;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.main-wrapper_details {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

/* Select and input */

.select-wrapper {
  width: 100%;
  max-width: 300px;
  position: relative;
}

.custom-input_list {
  position: absolute;
  background: var(--white_300);
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  z-index: 5;
}

.custom-input_list .custom-input_list-item {
  padding: 10px;
  cursor: pointer;
}

.custom-input_list .custom-input_list-item:hover:last-child {
  border-radius: 0px 0px 10px 10px;
  background: var(--blue_100);
  color: var(--white);
}

.custom-input_list .custom-input_list-item:hover:first-child {
  border-radius: 10px 10px 0px 0px;
  background: var(--blue_100);
  color: var(--white);
}

.custom-input_list .custom-input_list-item:hover {
  background: var(--blue_100);
  color: var(--white);
}

.custom-input {
  width: 100%;
  background-color: var(--white);
  border: thin solid var(--silver);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Switcher */

.toggle-switch {
  position: relative;
  width: 50px;
  display: flex;
  align-items: center;
}

.toggle-switch > label {
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: var(--blue_300);
  border-radius: 50px;
  cursor: pointer;
}

.toggle-switch > label > input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.toggle-switch > label > input:checked ~ .slider {
  background-color: var(--blue_100);
}

.slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  box-shadow: inset 7px 0px 0px 0px var(--yellow);
  background-color: var(--blue_300);
  transition: 0.3s;
}

.toggle-switch > label > input:checked ~ .slider::before {
  transform: translateX(26px);
  background-color: var(--yellow);
  box-shadow: none;
}

/* System */

.text-center {
  text-align: center;
}

.hr {
  width: 100%;
  margin: 35px 0 35px 0;
}

.capitalize {
  text-transform: capitalize;
}

.mdi {
  font-size: 16px;
}

.mdi.isBookmarked {
  color: var(--blue);
}

button {
  background-color: var(--white);
  border: 1px solid var(--silver);
  border-radius: 5px;
  color: var(--black);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Media */

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }

  .header {
    display: flex;
    flex-direction: column;
  }
}

/* Root */

:root {
  --black_200: #28292c;
  --yellow:  #e9be10;
  --white: #ffffff;
  --white_300: #dfdfdf;
  --black: #000000;
  --silver: #b9b9b9;
  --blue: #6b72f5;
  --blue_300: #192689;
  --blue_100: #b3b7de;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Chart */

.chart-wrapper > canvas {
  border-radius: 5px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}



/* Lang select */

details {
	position: relative;
	width: 80px;
}

details[open] {
	z-index: 1;
}

summary {
	padding: .4rem;
	cursor: pointer;
	border-radius: 5px;
	list-style: none;
  border: 1px solid var(--silver);
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 40%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms;
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(-50%, 0%);
}

.custom-lang-select {
	width: 100%;
	background: var(--white);
	position: absolute;
	top: calc(100% + .3rem);
	left: 0;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.custom-lang-select_items {
  padding: 5px;
  cursor: pointer;
}

.custom-lang-select_items:hover {
  background: var(--blue_100);
  color: var(--white);
}

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

summary > input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

summary > input[type=radio]:checked {
	display: inline;
	--display: block;
}

summary > input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

.custom-lang-select > label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

/* Details card */

.wave {
  opacity: 0.3;
  position: absolute;
  top: 120%;
  left: 50%;
  background: white;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
  z-index: 1;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
  z-index: 2 !important;
  opacity: 0.2;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  z-index: 3 !important;
}

.details-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background: var(--blue);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  min-width: 200px;
  min-height: 300px;
  cursor: pointer;
}

.details-wrapper.night {
  background: var(--blue_300);
}

.details-wrapper.night::before {
  content: '';
  position: absolute;
  right: -13px;
  top: -10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff77e;
}


.details-wrapper:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.details-wrapper_info {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

.details-wrapper_info_location {
  text-align: center;
  font-weight: 300;
}

.details-wrapper_info_date {
  text-align: center;
  color: var(--black);
  font-size: 70%;
}

.details-wrapper_info_temp {
  margin-top: 10%;
  text-align: center;
}

.details-wrapper_weathercon {
  height: 10vh;
}

@media (max-width: 600px) {
  .main-wrapper_control {
    flex-direction: column;
  }

  .main-wrapper_control-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .main-wrapper_control-btn {
    justify-content: center;
    margin-top: 10px;

  }

  .main-wrapper {
    margin: 20px;
  }


  .details-wrapper {
    width: 90vw;
    height: 40vh;
  }

  .wave {
    top: -50%;
  }

  .details-wrapper_info {
    font-size: 1.5rem;
  }
  
  .details-wrapper_info_temp {
    margin: 0;
  }

  .details-wrapper_info_date {
    margin-top: 0;
  }

  .chart-wrapper > canvas {
    padding: 0;
  }

  .details-wrapper.night p {
    color: var(--white_300);
  }
  
  .details-wrapper.night {
    color: var(--white_300);
  }
}

@media (max-height: 500px) {
  .details-wrapper {
    height: 80vh;
  }

  .wave {
    top: 115%;
  }
}